<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney Quiz</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    {% extends 'layout.html' %}
    {% block body %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div>
                <div class="card" style="width: 40rem;float: left;">
                <ul class="list-group list-group-flush">
                    <form style="margin: 50px;">
                          <h4>Comment s'appelle ce personnage ?</h4>
                          <p>{% for i in prompt_names %}</p>
                            {% if i == current_pers['name'] %}
                                <input type="radio" id="huey" name="drone" value="huey">
                                <label for="huey">
                                        <li class="list-group-item list-group-item-success">{{i}}</li>
                                </label>
                            {% else %}
                                <input type="radio" id="huey" name="drone" value="huey">
                                <label for="huey">
                                        <li class="list-group-item list-group-item-danger">{{i}}</li>
                                </label>
                            {% endif %}
                            {% endfor %}
                    </form>
                    <form style="margin: 50px; margin-top: -15px;">
                        <h5 style="margin: 10px;">Dans quel film joue ce personnage ?</h5>
                        <p>{% for i in prompt_films %}</p>
                        {% if i == current_pers['films'] %}
                            <input type="radio" id="huey" name="drone" value="huey">
                            <label for="huey">
                                    <li class="list-group-item list-group-item-success">{{i}}</li>
                            </label>
                        {% else %}
                            <input type="radio" id="huey" name="drone" value="huey">
                            <label for="huey">
                                    <li class="list-group-item list-group-item-danger">{{i}}</li>
                            </label>
                        {% endif %}
                        {% endfor %}
                        </form>
                        <button style="margin-top: 10px;" type="button" class="btn btn-dark">VALIDER</button>
                    </div>
        
        </div>
          </div>
          <div class="col-sm">
            <img style="float: left;" src="{{current_pers['url']}}" width="100%" max-height="200px">
          </div>

          {% if data_from_movie['Title'] %}
            <div class="col-sm">
                <div class="card content" style="width: 18rem;">
                {% if data_from_movie['Poster'] != "" %}
                        <img class="card-img-top" src="{{data_from_movie['Poster']}}" alt="Card image cap">
                {% endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{data_from_movie['Title']}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sortie le {{data_from_movie['Released']}}</li>
                    <li class="list-group-item">Durée {{data_from_movie['Runtime']}}</li>
                    <li class="list-group-item">Type: {{data_from_movie['Genre']}}</li>
                    {% for i in data_from_movie['Ratings'][:-1] %}
                    <li class="list-group-item">{{i['Source']}}: {{i['Value']}}</li>
                        {% endfor %}
                   {% if data_from_movie['BoxOffice'] != "N/A" %}
                    <li class="list-group-item">Box Office: {{data_from_movie['BoxOffice']}}</li>
                   {% endif %}
                    </ul>
                </div>
            {% endif %}
    </div>
      </div>

      {% if affichage_resume != [] %}
        <div style="float: left; margin-top: 10px;"><p><b>Résumé:</b> </br>
            {% for i in affichage_resume %}
               {% if affichage_resume[0] == i %}
                {{i.capitalize()}}
               {% else %}
                {{i}}
               {% endif %}
                
               {% if affichage_resume[-1] == i %}
                {{i,"."}}
               {% endif %}

            {% endfor %}
            .
        </div>
    {% endif %}
    </ul>
    </form>
    {% endblock %}
</body>
</html>