{% extends 'layout.html' %}

 {% block body %}
    <div>
<h2>Debug (list_pb)===> {{list_pb}}</h2>
          <div class="card" style="width: 40rem;float: left;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: {{id_choisi}}</li>
              <li class="list-group-item list-group-item-success">Nom: {{name_choisi}}</li>
              <li class="list-group-item list-group-item-danger"">Faux nom 1: {{quiz_2nd_name}}</li>
              <li class="list-group-item list-group-item-danger"">Faux nom 2: {{quiz_3nd_name}}</li>
            </ul>
        <p>Indice d'aléatoire: {{aleatoire_number}}</br>
            Présent sur la page: {{random_page}}</p>
            <p>Nombre de films: {{nb_film}}</p>
            <p style="text-decoration: underline;">Films dans lequel apparait {{name_choisi}}</p>
            {% for i in list_film %}
                {% if i != [] %}
                    {{i}} </br>
                {% endif %}
            {% endfor %}
    </div>
    <img style="float: left;" src="{{list_url}}" height="15%" width="40%">
    </div>
 {% endblock %}